{% extends "articles/base.html" %}

{% block content %}
  <h1>Hello, {{ name }}</h1>
  <a href="{% url 'articles:dinner' %}">dinner</a>
  <a href="{% url 'articles:search' %}">search</a>
  <a href="{% url 'articles:throw' %}">throw</a>
  {% comment %} 번호를 넘겨주는 방식은 추후 변경 예정 {% endcomment %}
  <a href="{% url "articles:detail" 1 %}">Article 1</a>
  <a href="{% url "articles:detail" 2 %}">Article 2</a>
  <a href="{% url "articles:detail" 3 %}">Article 3</a>
  <a href="{% url "pages:index" %}">두번째 앱의 메인 페이지</a>
{% endblock content %}


