<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3>Hello, {{ user.username }}</h3>

  <h1>메인 페이지</h1>

  {% if request.user.is_authenticated  %}
  {% comment %} {% if user.is_authenticated %} {% endcomment %}
    <form action="{% url "accounts:logout" %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="Logout">
    </form>
    <form action="{% url "accounts:delete" %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="회원탈퇴">
    </form>
    <a href="{% url "articles:create" %}">CREATE</a>
  {% else %}
    <a href="{% url "accounts:login" %}">Login</a>
    <a href="{% url "accounts:signup" %}">회원가입</a>
  {% endif %}

  <hr>
  {% comment %} 전체 게시글 출력 {% endcomment %}
  {% for article in articles %}
    <div>
      <p>글 번호: {{ article.pk }}</p>
      <p>
        글 제목: <a href="{% url "articles:detail" article.pk %}">{{ article.title }}</a>
      </p>
      <p>글 내용: {{ article.content }}</p>
    </div>
    <hr>
  {% endfor %}
</body>
</html>
